body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.additem-wrapper .form{
  max-width: 400px;
}
.itemList{
  padding: 15px;
  margin: 10px 0 0;
}
.itemList.not {
  height: 280px;
  overflow-y: auto;
}

.itemList.com {
  min-height: 280px;
  overflow-y: auto;
}

.itemList li{
  list-style: none;
  background: rgba(255,255,255,0.9);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border:1px solid #d3d1d0;
  margin-bottom: 4px;
  height: 40px;
  vertical-align: middle;
  position: relative;
}

span.tools{
  position: absolute;
  right: 10px;
  top: 6px;
}

.tools .icon:hover{
  opacity: 0.6;
}

.tools .icon{
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
}

.header-wrapper{
  background: #fff;
  text-align: center;
  padding: 30px 20px 30px;
  border-radius: 12px;
}
.header-wrapper h1{
  margin: 0;
}

.header-wrapper p{
  padding: 0 40px;
}

.additem-wrapper{
  padding:60px 0 0;
}

.itemList-wrapper{
  padding:60px 0 0;
}

.subNew{
  background-color: #007aff !important;
  border-color: #007aff !important;
  color:#fff !important;
  padding: 6px 20px !important;
  font-weight: bold !important;
  transition: all 0.4s ease-in-out !important;
}

.subNew:hover{
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}

.taskInput{
  border-radius: 4px;
  border: 1px solid #007aff;
  padding-right: 10px;
  padding-left: 10px;
}

.inputSpan p{
  margin: 0;
  line-height: 26px;
}

.inputSpan{
  display: block;
}

.inputSpan input{
  width: 70%;
}

.complete.disabled:hover{
  opacity: 1;
  cursor: context-menu;
}

button.disabled,
.complete.disabled{
  cursor: context-menu;
}

.complete.disabled{
  display: none;
}

.icon.edit.disabled{
  display: none;
}

.icon.edit.disabled:hover{
  opacity: 0.5;
  cursor: context-menu;
}

.notDiv{
  background: url(/images/not.svg)rgba(255,255,255,0.6) no-repeat center center;
  background-size: contain;
  height: 260px;
  border-radius: 12px;
}

.completeDiv{
  background: url(/images/complete.svg)rgba(255,255,255,0.6) no-repeat center center;
  background-size: contain;
  height: 260px;
  border-radius: 12px;
}

.addItem-inside{
  background: rgba(0,0,0,0.4);
  height: 280px;
  border-radius: 12px;
  padding: 60px 50px 40px;
}

@media screen and (max-width: 1320px) {
  .inputSpan input{
    width: 60%;
  }
}

@media screen and (max-width: 1023px) {
  .header-wrapper p {
    padding: 0 20px;
  }

  .header-wrapper{
    padding: 20px 10px 20px;
  }

  .addItem-inside {
    padding: 50px 20px 30px;
    height: 200px;
  }

  .itemList-wrapper{
    padding: 30px 0 0;
  }

  .additem-wrapper{
    padding: 40px 0 0;
  }

  .header-wrapper h1 {
    font-size: 30px;
  }

  .bottom-wrapper h5 {
    font-size: 16px;
  }
}